h4 {
  margin-bottom: 40px;
}

.card {
  margin-bottom: 15px;
}

.logo {
  font-size: 50px;
}

.react:hover {
  color: #00d4f7;
}

.js:hover {
  color: #e8d93d;
}

.node:hover{
  color: #66c83f;
}

.git:hover{
  color: #f72e00;
}

.html:hover{
  color: #f74d00;
}

.css:hover{
  color: #006db9;
}


